* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    margin-bottom: 20px;
}

.sidebar .logo h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.sidebar .logo p {
    font-size: 12px;
    margin-bottom: 20px;
}

.sidebar nav {
    flex-grow: 1;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar nav ul li a:hover {
    background-color: #34495e;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chart-container, .table-container, .filter-container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.chart-container {
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #bdc3c7;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1F2644;
    color: #ffffff;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px 15px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

.filter-container {
    width: 300px;
    margin: 20px;
    flex-shrink: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: auto;
}
